name: Aikido NPM Scan
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  aikido-scan:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      # Step 2: Install dependencies
      - name: Install Aikido CI API Client
        run: npm install --global @aikidosec/ci-api-client@1.0.9

      # Step 3: Run Aikido Scan Release
      - name: Run Aikido Scan
        run: aikido-api-client scan-release R_kgDOLQOfXg $GITHUB_SHA --apikey ${{ secrets.AIKIDO_CLIENT_API_KEY }} --base-branch dev --minimum-severity-level HIGH
